---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% comment %} Section for Computer Unrelated Stuff {% endcomment %}
  {% assign unrelated_posts_1 = site.posts | where: "category", "computer-unrelated" %}
  {% assign unrelated_posts_2 = site.posts | where_exp: "post", "post.categories contains 'computer-unrelated'" %}
  {% assign unrelated_posts = unrelated_posts_1 | concat: unrelated_posts_2 | uniq %}
  {% if unrelated_posts.size > 0 %}
    <h2 class="post-list-heading">Computer Unrelated Stuff</h2>
    <ul class="post-list">
      {%- for post in unrelated_posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {% endif %}

  {% comment %} Section for Computer Related Stuff {% endcomment %}
  {% assign related_posts_1 = site.posts | where: "category", "computer-related" %}
  {% assign related_posts_2 = site.posts | where_exp: "post", "post.categories contains 'computer-related'" %}
  {% assign related_posts = related_posts_1 | concat: related_posts_2 | uniq %}
  {% if related_posts.size > 0 %}
    <h2 class="post-list-heading">Computer Related Stuff</h2>
    <ul class="post-list">
      {%- for post in related_posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {% endif %}

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

  <!-- Removed Computer Related Stuff section for now
  {%- if site.computer_related_stuff.size > 0 -%}
    <h2 class="post-list-heading">Computer Related Stuff</h2>
    <ul class="post-list">
      {%- for item in site.computer_related_stuff -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ item.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ item.url | relative_url }}">
            {{ item.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ item.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  -->

</div>
